node_modules/
*.sublime-project
*.sublime-workspace
.project
.vagrant
.DS_Store
logs/
public/
/public/templates
/public/uploads
/public/vendor
/public/src/modules/string.js
.idea/
.vscode/
*.ipr
*.iws
/coverage
/build
.eslintrc
test/files
*.min.js

/public/src/app.js
/public/src/client.js
/public/src/admin/admin.js
/public/src/modules/translator.common.js
/public/src/modules/pictureCropper.js
/public/src/modules/ace-editor.js
/public/src/client/account/header.js
/public/src/client/test.js
themes/
.codeclimate.yml
.eslintrc.cjs
.github/workflows/hw1.yaml
.github/workflows/lint.yaml
.github/workflows/prettier.yaml
.github/workflows/test.yaml
.github/workflows/volunteers.yaml
.prettierrc.json
package.json
test/
logs/
install/
build/
.github/
.husky/
.tx/
tsconfig.json
UserGuide.md
webpack.common.js
webpack.dev.js
webpack.installer.js
webpack.prod.js
app.js
CHANGELOG.md
commitlint.config.js
config_template.json
docker-compose.yml
Gruntfile.js
loader.js
README.md
renovate.json
require-main.js
src/admin
src/api
src/cache
src/categories
src/cli
src/controllers
src/groups
src/messaging
src/messaging/
src/middleware
src/navigation
src/plugins
src/privileges
src/rewards
src/routes
src/socket.io
src/topics
src/types
src/upgrades
src/posts
src/meta
src/widgets
src/user
src/UserGuidesrc/views/src/widgets
src/*.js
src/*.ts